*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h2{
    color: white;
    text-align: center;
}

.texto-laranja{
    color: white;
    background-color:#ff5300;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.initial{
    display: inline-block;
    background-color: black;
    height: auto;
    width: 100%;
    align-content: center;
}

.logo{
    padding-top: 25px;
    width: 15%;
    align-items: center;
    margin-left: 43%;
}

.topo-inicio{
    display: inline-block;
    width: 100%;    
}

.topo-inicio img{
    max-width: 100%;
    text-align: center;
}

.chamada-acao{
    width: 100%;
    text-align: center;
    /* margin-right: 25%; */
    line-height: 40px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.div-video{
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.video-conversao{
    width: 40%;
    margin-left: 31%;

    border: none;
}

.div-botao{
    width: 100%;
    text-align: center;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.botao-conversao{
    display: inline-block;
    background-color: #ff5300;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 0px 7px white;
}

.botao-conversao-2{
    display: inline-block;
    background-color: #ff5300;
    color: white;
    font-weight: bold;
    padding: 20px 40px 20px 40px;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 0px 7px rgb(48, 48, 48);
}

.section-2{
    height: 900px;
    display: inline-block;
    width: 100%;

}

.livro-geral{
    display: flex;
    padding: 0px 0px 0px 70px; 
    justify-content: center;
}

.titulo-livro-desafio{
    width: 100%;
    justify-content: center;
    display: flex;
}

.texto-livro-desafio{
    display: inline-block;
    margin-top: 80px;
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
}

.div-img-desafio{
 padding-top: 30px;
   
}

.img-desafio{
    height: 480px;
}

.pontos-desafio li{
    color: rgb(81, 81, 81);
}

ul{
    font-size: 20px;
}

li{
    margin: 30px 0px 30px 0px;
    list-style: none;
}

.pontos-desafio-list{
    margin: 0px;
    padding-left: 50px;
}

i{
    font-size:25px;
    color:rgb(164, 0, 0);
}

